<div class="row">
    <div class="col-md-4 m-5">
        <form class="form" #myForm ='ngForm' (ngSubmit) = 'submitPassword(myForm.value)'>
            <div class="form-group">
                <label for="inputPassword">Password :</label>
                <input #name="ngModel" type="password" name="password" [class.is-invalid]='name.invalid && name.touched' [(ngModel)]= "password" id="inputPassword" class="form-control" required  minlength="6">
                <small class="text-danger" [class.d-none]="name.valid || name.untouched">Password must be of minimum 6 characters.</small>

                <!-- <label for="inputPassword7">Confirm Password :</label>
                <input type="password" name="confirmPassword" [(ngModel)]= "user.confirmPassword" id="inputPassword7" class="form-control" required> -->
            </div>
            <div class="form-group">
                    <div class="form-group">
                            <label for="confirmPassword">Confirm Password :</label>
                            <input id="confirmPassword" #confirmPassword="ngModel" type="password" class="form-control" required confirmPassword name="confirmPassword"
                                [(ngModel)]= "conpassword" [class.is-invalid]='confirmPassword.invalid && confirmPassword.touched' minlength="6" (change)="checkpassword()">
                            <small class="text-danger" [class.d-none]="confirmPassword.valid || confirmPassword.untouched">Password must be of minimum 6 characters.</small>
                            <small *ngIf="passerror" class="text-danger">{{passerror}}</small>
                        </div>
            </div>
            <button class="btn btn-success" type="submit" [disabled]='password != conpassword' >Save</button>
        </form>
    </div>
</div>