.jumbotron a{
    color: #999;
    text-decoration: none;
}

.jumbotron a:hover{
    color: #348e7b;
    text-decoration: underline;
}
.copyright{
   background-color : #333;
   color: #fff;
}

.copyright a {
    color: #348e7b;
}
#icons{
    font-size: 32px;
}
.btn-danger{
    background-color: #E71C23;
}
.btn-danger:hover{
    background-color: #AE1438;
    border-color: #dc3545;
}