<div class="jumbotron mt-5 mb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-3">Pages</h4>
                <ul class="list-unstyled">
                    <li><a href="">About Us</a> </li>
                    <li><a href="">Terms and Conditions</a> </li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
                <hr>
                <h4 class="mb-3">User Section</h4>
                <ul class="list-unstyled">
                    <li><a routerLink='/login'>Login</a></li>
                    <li><a routerLink='/register'>Register</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-3">Top Categories</h4>
                <ul class="list-unstyled">
                    <li><a routerLink='/products/4'>Mobile Phones</a></li>
                    <li><a routerLink='/products/5'>Televisions</a></li>
                    <li><a routerLink='/products/6'>Laptops</a></li>
                    <li><a routerLink='/products/3'>Accessories</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-3">Where to find us</h4>
                <p><strong>E-Store Ltd</strong><br>
                    13/25 New Avenue <br>
                    New Heaven <br>
                    45Y 73J <br>
                    England <br>
                    <strong>Great Britain</strong>
                </p>
                <a class="text-info" href="#" id="bottom">Go to contact page</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-3">Get the news</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, rem expedita fugit molestias
                    nulla
                    saepe.</p>
                <form action="">
                    <div class="form-group d-flex d-inline">
                        <input class="form-control" type="text"><button class="btn btn-danger">Subscribe!</button>
                    </div>
                </form>
                <hr>
                <h4>Stay in touch</h4>
                <p id="icons"><a href="" class="mr-3" ><i class="fab fa-facebook"></i></a><a href="" class="mr-3"><i class="fab fa-twitter"></i></a><a href="" class="mr-3"><i class="fab fa-instagram"></i></a><a href="" class="mr-3"><i class="fas fa-envelope"></i></a></p>
            </div>
        </div>
    </div>
</div>

<!-- CopyRight -->

<div class="copyright">
    <div class="container p-3">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-left">
                <small>&copy; 2019 E-Store</small>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
               <small> Template Design By <a href="http://moptra.com" target="_blank">Moptra Infotech</a></small>
            </div>
        </div>
    </div>
</div>