.btn-success{
    background-color: #4fbfa8;
    border-color: #4fbfa8;
}
.btn-success:hover {
    color: #fff;
    background-color: #3eaa94;
    border-color: #3aa18c;
  }
.breadcrumb {
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 0;
    padding: 0.5rem 1rem;
  }
  .breadcrumb a {
      color: #4fbfa8;
      text-decoration: none;
  }
  .breadcrumb a:hover {
      color: #4fbfa8;
      text-decoration: underline;
  }
  .card-body a{
      color: #4fbfa8;
      text-transform: uppercase;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: bold;
      border-radius: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

  }
.category-menu li:hover {
    background-color: #eeeeee;
}
.box{
    color: #fff;
    background-color: #4fbfa8;
    margin: 0 0 30px 0;
    padding: 20px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.blockquote-footer{
    color : #fff;
}
.product{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    margin-bottom: 30px;
    height: 400px;
}
.product .text{
    padding: 10px 10px 0;
}
.product .text h3 {
    font-size: 1.125rem;
    font-weight: 700;
    height: 42px;
    text-align: center;
    overflow: hidden;
}
.product .text h3 a {
    color: #555;

}
/* .product .text .btn{
    
} */

.product-img:hover{
    transform: scale(0.9);
    transition: all .5s ease-out;
    /* filter: brightness(.8); */
}
.product-img {
    height: 250px;
    object-fit: cover;
    object-position: center center;
}
.image-size{
    margin: 0 auto;
}
h3 a:hover{
    text-decoration: underline;
}